.div-1{
  overflow: auto;
  height: 83vh;
}
.div-2{
  font-family: cursive;
}
.button{
  position: absolute;
  top: 0;
  right: 0;
  transition: all .5s ease;
}
.div-5{
  display: flex;
}
.div-4{
  height:250px ;
}
@media (max-width: 1280px){
#div-2{
  display: none;
  
}
.div-4{
  display: grid;
  grid-template-columns: 50% 50%;
}
}
@media (max-width: 910px){
  #div-1{
    display: none;
  }
  .div-0{
    height:500px ;
  }
  .div-4{
    display: grid;
    grid-template-columns: 100%;
    height:350px ;

  }
}
@media (max-width: 440px){
  .div-5{
    display: flex;
    flex-direction: column;
  }
}